# OS files
.DS_Store
Thumbs.db

# JVM/Build tools
target/
*.class
.gradle/
build/
bin/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
*.sublime-project
*.sublime-workspace

# Configuration & Logs
*.log
.env
.env.local

# Frontend Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
out/

# Docker persistent data (if local)
pgdata/